/* HEADER START */

.header-container{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
}

.logo-container{
  width: 20%;
  height: 50px;
}

.logo-container img {
  padding: 0 10px;
}

.nav-container{
  width: 60%;
  height: 50px;
}

.nav-container ul {
  display: flex;
  justify-content: center;
}

.nav-link{
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

.active-navlink{
  color: #9b0000;
}

.right-container{
  display: flex;
  width: 20%;
  height: 50px;
  justify-content: flex-end;
  padding-right: 10px;
}

.search-icon{
  width: 50px;
  background-color: transparent;
  border: 2px solid rgb(155, 0, 0);
  color: #9b0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.774);
}

.login-button-container {
  display: flex;
  margin-left: 20px;
  background-color: #9b0000;
  width: 50%;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.login-button-container a{
  color: white;
  text-decoration: none;
}

.top-shadow{
  position: fixed;
  top: 0%;
  z-index: -1;
}

/* HEADER END */


/* DETAILS START */

.main-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0px;
  z-index: -2;
}

.player-wrapper{
  background-color: #9b0000;
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.video{
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.side-nav {
  list-style: none;
  font-size: 16px;
  position: fixed;
  top:48%;
  right: 2%;
  text-align: right;
  z-index:2
}

.side-nav li{
  padding-bottom: 10px;
  text-decoration: none;
  color:white;
}

.side-nav-trailer {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.514);
}

.side-nav-overview{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.514);
}
/* DETAILS END */


/* OVERVIEW PAGE START */
.details-overview-container{
  width: 90%;
  height: 100%;
  display: flex;
}

.movie-info-container{
  width: 50%;
  display: inline;
  text-align: left;
  align-self: center;
}

.movie-image-container{
  width: 38%;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4%;
}

.movie-image{
  width: 100%;
}

.movie-title{
  color: #b3b3b3;
  font-size: 60px;
  margin-bottom: 0px;
  
}

.movie-description-overview{
  color: white;
  margin-top: 30px;
}

.movie-year{
  color: #9b0000;
  margin-right: 20px;
}
.movie-genre{
  color: #9b0000;
  margin-left: 20px;
  margin-right: 20px;
}
.movie-length{
  color: #9b0000;
  margin-left: 20px;
}

.pipe{
  color: #9b0000;
}

.update-button {
  background-color: transparent;
  border: 2px solid  #9b0000;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 50px;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  /* margin: auto; */
  margin-top: 50px;
  margin-bottom: 20px;
  }

.overview-bgr-img-container{
  background-color: #080000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
  z-index: -1;
}
/* OVERVIEW PAGE END */


/* FOOTER START */

.footer-container{
  position: fixed;
  bottom: 1%;
  width: 100%;
}

.footer{
  display: flex;
}

.socialmedia-icons-container{
  width: 20%;
  display: flex;
  align-items: center;
}

.socialmedia-icons-container i {
  padding-left: 30px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.2);
}

.copyrights {
  width: 60%;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2);
}

.footer-logos-container{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
/* FOOTER END */

/* HOMEPAGE START */

.home-container{
  width: auto;
  height: 840px;
}

.trending-container{
  width: 98%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.trending-headline{
  color: #b3b3b3;
  font-size: 20px;
  margin-left: 20px;
}

.movies-container{
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.movie-card-container{
  background-color: rgba(255, 191, 191, 0.1);
  border-radius: 20px;
  width: 20%;
  margin: 0 15px 0 15px;
  display: inline-flexbox;   
  text-align: center;
  box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.1);
}

.movie-headline{
  color: white;
  margin: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

.movie-description{
  color: white;
  font-size: 14px;
  margin: 0 20px 0 20px;
}

.my-list-container{
  width: 98%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.rating-container{
  color: white;
  margin: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-container i{
  padding: 0 0 0 5px;
}

.image-container{
  border-radius: 20px;
  width: 94%;
  height: 400px;
  margin: auto;
  margin-top: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.image-container img{
  border-radius: 15px;
  width: 100%;
  height: 400px;
  object-fit: cover;

}

.loading-container{
  background-color: #9b0000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HOMEPAGE END */


/* REGISTER START*/

.register-container {

  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 280px;  
  padding: 40px;
  background-color: rgba(255, 250, 250, 0.1);
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px 0 rgba(0, 0, 0, 0.01);
}

.form-container h2{
  color: white;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin:auto;
}

.register-form input {
  display: flex;
  max-width: 500px;
  margin: 10px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
}

.register-button {
background-color: transparent;
border: 2px solid  #fff2f2;
color: white;
font-size: 20px;
font-weight: 800;
padding: 13px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 30px;
cursor: pointer;
margin-top: 20px;
margin-left: 15px;
}

.register-button button:hover{
background: #9b0000;
}

.message {
margin: 15px 0 0;
color: #b3b3b3;
font-size: 12px;
display: flex;
justify-content: center;
}

.message a {
color: #fff2f2;
text-decoration: none;
}

.input[type=text]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #fff2f2;
background-color: transparent;
}

.input[type=password]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #fff2f2;
background-color: transparent;
}

.bgr-container{

  /* background: linear-gradient(to right, #4b6cb7, #182848); */
  /* background: linear-gradient(to top, #16222a, #3a6073); */
  /* background: linear-gradient(0deg, rgba(15,32,39,1) 0%, rgba(32,58,67,1) 50%, rgba(44,83,100,1) 100%); */
  /* background: linear-gradient(to top, #232526, #414345); */
  /* background: linear-gradient(to right, #ff00cc, #333399); */
  /* background: linear-gradient(to top, #200122, #6f0000); */
  background: linear-gradient(to top, #141e30, #243b55);
  /* background: linear-gradient(to top, #8e0e00, #1f1c18); */
  /* background: linear-gradient(to top, #ff0084, #33001b); */
  /* background: linear-gradient(to top, #870000, #190a05); */
  
  
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  z-index: -1;
}

.register-bgr-img-container{
  z-index: -2;
  position: fixed;
  width: 100%;
  top: 0%;
}

/* REGISTER END*/


/* LOGIN START */

.login-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form input {
  display: flex;
  max-width: 500px;
  margin: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-button {
  background-color: transparent;
  border: 2px solid  #9b0000;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 50px;
  font-size: 30px;
  cursor: pointer; 
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.login-button button:hover{
  background: #9b0000;
}

/* LOGIN END */


/* 404 START */

.page4040-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: fixed;
  width: 100%;
  top: -10%;
}

.main-button{
  background-color: #9b0000;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 50px;
  font-size: 30px;
  cursor: pointer; 
  display: flex;
  margin: auto;
  margin-top: 600px;
}

/* 404 END */