.movie_container{
    background-color: rgba(255, 191, 191, 0.1);
    border-radius: 20px;
    width: 24%;
    margin: 0 10px 0 10px;
    display: inline;   
    text-align: center;
    box-shadow: 4px 4px 10px  rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.image_container{
  border-radius: 20px;
  width: 94%;
  height: 400px;
  margin: auto;
  margin-top: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.image_container:hover{
  border-radius: 20px;
  width: 94%;
  height: 550px;
  margin: auto;
  margin-top: 8px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.image_container img{
  border-radius: 15px;
  width: 100%;
  height: 400px;
  object-fit: cover;

}

.image_container img:hover{
  border-radius: 15px;
  width: 100%;
  height: 550px;
  object-fit: cover;
  box-shadow: 20px 20px 20px rgba(1, 1, 41, 0.3);
}

.movie_headline{
  color: white;
  margin: 15px 20px 15px 20px;
  font-size: 24px;
  font-weight: 700;
}

.movie_headline:hover{
  color: rgba(255, 255, 255, 0.712);
  margin: 15px 20px 15px 20px;
  font-size: 28px;
  font-weight: 700;
}

.movie_description{
  color: white;
  font-size: 14px;
  margin: 0 20px 0 20px;
}

/* .movie_description:hover{
  color: rgba(255, 255, 255, 0.712);
  margin: 10px 20px 10px 20px;
  font-size: 16px;
  font-weight: 700;
} */