.alert_wrapper{
    width: 400px;
    background-color: rgba(255, 31, 79, 0.952);
    position: fixed;
    top: 50px;
    right: 2%;
    border-radius: 30px;
}

.alert{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    color: white;
}

