.container{
    position: fixed;
    bottom: 1%;
    width: 100%;
    color: rgba(255, 255, 255, 0.397);
  }
  
  .footer{
    display: flex;
  }
  
  .socialmedia{
    width: 30%;
    display: flex;
    align-items: center;
  }
  
  .socialmedia i {
    padding-left: 30px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.2);
    padding-top: 10px;
  }
  
  .copyrights{
    width: 40%;
    padding-top: 10px;
  }
  
  .footer_images{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-bottom: 20px;
  }