.PillList_item {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 6px 6px 6px 6px;
  }
  
  .PillList_item input[type="checkbox"] {
    display: none;
  }
  
  .PillList_item input[type="checkbox"]:checked + .PillList_label {
    background-color: #9b0000;
    border: 1px solid #9b2400;
    color: #fff;
    padding-right: 33px;
    padding-left: 33px;
  }
  .PillList_label {
    border: 1px solid #9b2400;
    border-radius: 20px;
    color: white;
    display: block;
    padding: 7px 28px;
    text-decoration: none;
  }