/* HEADER START */

.header-container{
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 10px;
}

.logo-container{
  width: 20%;
  height: 50px;
}

.logo-container img {
  padding: 0 10px;
}

.nav-container{
  width: 60%;
  height: 50px;
}

.nav-container ul {
  display: flex;
  justify-content: center;
}

.nav-link{
  list-style: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 0 20px 0 20px;
  text-decoration: none;
}

.active-navlink{
  color: #9b0000;
}

.right-container{
  display: flex;
  width: 20%;
  height: 50px;
  justify-content: flex-end;
  padding-right: 10px;
}

.search-icon{
  width: 50px;
  background-color: transparent;
  border: 2px solid rgb(155, 0, 0);
  color: #9b0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.774);
}

.login-button-container {
  display: flex;
  margin-left: 20px;
  background-color: #9b0000;
  width: 50%;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.login-button-container a{
  color: white;
  text-decoration: none;
}

.top-shadow{
  position: fixed;
  top: 0%;
  z-index: -1;
}

/* HEADER END */


/* DETAILS START */

.main-container{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  right: 0px;
  z-index: -2;
}

.video-container{
  width: 100%;
  height: 100%;
}

.background-video{
  transform: translate(-250px, 0px);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: 1;
}

.side-nav {
  list-style: none;
  font-size: 16px;
  position: fixed;
  top:48%;
  right: 2%;
  text-align: right;
  z-index:2
}

.side-nav li{
  padding-bottom: 10px;
  text-decoration: none;
  color:white;
}

.side-nav-trailer {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.514);
}

.side-nav-cast{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.514);
}

.side-nav-overview{
  text-decoration: none;
  color:rgba(255, 255, 255, 0.514);
}
/* DETAILS END */


/* CAST PAGE START */
.details-cast-container{
  width: 90%;
  height: 100%;
  display: flex;
}

.actor-image{
  background-color: #b3b3b3;
  width: 45%;
  height: 800px;
  display: flex;
  margin-top: 40px;
}

.actor-info-container{
  width: 50%;
  margin-left: 7%;
  color:white;
  margin-top: 20%;
}

.actor-scroll{
  position: fixed;
  bottom: 2%;
  right: 2%;
}
.actor-scroll img{
  padding-right: 10px;
}

.cast-bgr{
  background-color: #9b0000;
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0%;
}
/* CAST PAGE END */


/* OVERVIEW PAGE START */

/* OVERVIEW PAGE END */


/* FOOTER START */

.footer-container{
  position: fixed;
  bottom: 1%;
  width: 100%;
}

.footer{
  display: flex;
}

.socialmedia-icons-container{
  width: 20%;
  display: flex;
  align-items: center;
}

.socialmedia-icons-container i {
  padding-left: 30px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.2);
}

.copyrights {
  width: 60%;
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.2);
}

.footer-logos-container{
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}
/* FOOTER END */

/* HOMEPAGE START */

.home-container{
  width: auto;
  height: 840px;
}

.trending-container{
  width: 98%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.trending-headline{
  color: #b3b3b3;
  font-size: 20px;
  margin-left: 20px;
}

.movies-container{
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.movie-card-container{
  background-color: rgba(255, 191, 191, 0.1);
  border-radius: 20px;
  width: 18%;
  height: 85%;
  margin: 0 15px 0 15px;
  display: inline-flexbox;   
  text-align: center;
}

.movie-headline{
  color: white;
  margin: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
}

.movie-description{
  color: white;
  font-size: 14px;
  margin: 0 20px 0 20px;
}

.my-list-container{
  width: 98%;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.rating-container{
  color: white;
  margin: 10px 20px 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-container i{
  padding: 0 0 0 5px;
}

.image-container{
  background-color: rgb(255, 212, 18);
  border-radius: 20px;
  width: 90%;
  height: 200px;
  margin: auto;
  margin-top: 10px;
}

/* HOMEPAGE END */


/* REGISTER START*/

.register-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 280px;  
  padding: 40px;
  background-color: rgba(126, 11, 11, 0.1);
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px 0 rgba(0, 0, 0, 0.2);
}

.form-container h2{
  color: white;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin:auto;
}

.register-form input {
  display: flex;
  max-width: 500px;
  margin: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.input[type=radio]{
  appearance: none;
  background-color:transparent;
  margin: 30px 10px 0 0;
  color: #9b0000;
  width: 0.4em;
  height: 0.4em;
  border: 0.2em solid currentColor;
  border-radius: 50%;
  display: flex;
}

.radioButton{
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}

.register-button {
background-color: transparent;
border: 2px solid  #9b0000;
color: white;
font-size: 20px;
font-weight: 800;
padding: 13px 50px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 30px;
cursor: pointer;
margin-top: 20px;
}

.register-button button:hover{
background: #9b0000;
}

.message {
margin: 15px 0 0;
color: #b3b3b3;
font-size: 12px;
display: flex;
justify-content: center;
}

.message a {
color: #9b0000;
text-decoration: none;
}

.input[type=text]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #9b0000;
background-color: transparent;
}

.input[type=password]{
width: 100%;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid #9b0000;
background-color: transparent;
}

.register-bgr-img-container{
  z-index: -2;
  position: fixed;
  width: 100%;
  top: 0%;
}

/* REGISTER END*/


/* LOGIN START */

.login-container {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form input {
  display: flex;
  max-width: 500px;
  margin: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.login-button {
  background-color: transparent;
  border: 2px solid  #9b0000;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 50px;
  font-size: 30px;
  cursor: pointer; 
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.login-button button:hover{
  background: #9b0000;
}

/* LOGIN END */


/* 404 START */

.page4040-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  position: fixed;
  width: 100%;
  top: -10%;
}

.main-button{
  background-color: #9b0000;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 800;
  padding: 13px 50px;
  font-size: 30px;
  cursor: pointer; 
  display: flex;
  margin: auto;
  margin-top: 600px;
}

/* 404 END */